*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/Builds/*
/build/*

/.vscode/*

.DS_Store
CMakeFiles
.cache/
CMakeCache.txt
Source/vital/common
Source/vital/common
Source/vital/common
Source/vital/common
